/* колір основного тексту color: #212121; */
/* вторичний колір color: #757575;*/
/* акцент color: #2196F3; */
/* колір навігації у footer rgba(255, 255, 255, 0.6); */
/* колір основного фону  #E5E5E5 */
/* вторичний колір фону #F5F4FA; */
/* footer background: #2F303A; */

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --nav-footer-colot: rgba(255, 255, 255, 0.6);
  --primary-background-color: #ffffff;
  --secondary-backgound-color: #f5f4fa;
  --hero-footer-background: #2f303a;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: #ffffff;
}

/* Утиліти класів */

.link {
  text-decoration: none;
  color: var(--primary-text-color);
}
.link:hover,
.link:focus{
  color: var(--accent-color);
}

.list {
  list-style: none;
}

address{
  font-style: normal;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* logo */
.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}

.logo-interactive {
  color: var(--accent-color);
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

.link.current {
  color: var(--accent-color);
}

.nav-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.contacts{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}

/* Секція герой */
.hero {
  background-color: var(--hero-footer-background);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 200px;
  color: #ffffff;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

/*Наші переваги */
.about-us-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
.about-us-title+p{
  color: var(--secondary-text-color);
}

/* наша команда */
.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;  
    color: var(--primary-text-color);
}

.team-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color:var(--primary-text-color);
}
/* прописати клас на параграф
повісити на <li> text-align: center;*/
.team-title+p{
    font-size: 16px;
    line-height: 1.18;
    text-align: center; 
    color: var(--secondary-text-color);
}
/* Сайт портфоліо */

/* Список фильтрів */
.filter-menu .button-menu {
  background: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.button-menu:hover,
.button-menu:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

/* Наші проекти */
.projects a {
  color: var(--primary-text-color);
}

.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects p {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.87;
}
/* Підвал */
.logo-footer{
  font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #FFFFFF;
}

.bg-footer{
  background-color: var(--hero-footer-background);
}

.address{
  font-size: 14px;
  line-height: 1.71;
  color: #FFFFFF;
}
.footer-contacts{
    font-size: 14px;
    line-height: 1.78;
    color: rgba(255, 255, 255, 0.6);
}

